doctype html

//- var footerMenu             = {'about': {1:'О магазине',2:'О нас',3:'Наши цены', 4: 'Наши скидки', 5: 'Акции'},'catalog': {1:'Каталог',2:'Смартфоны',3:'Планшеты', 4: 'Компьютеры', 5: 'Аксессуары'},'contacts': {1:'Контакты',2:'Телефоны',3:'Адреса', 4: 'Карта проезда', 5: 'Обратная связь'}}
- var footerMenu2            = []
- var footerMenu_about       = {1:'О магазине',2:'О нас',3:'Наши цены', 4: 'Наши скидки', 5: 'Акции'}
- var footerMenu_catalog     = {1:'Каталог',2:'Смартфоны',3:'Планшеты', 4: 'Компьютеры', 5: 'Аксессуары'}
- var footerMenu_contacts    = {1:'Контакты',2:'Телефоны',3:'Адреса', 4: 'Карта проезда', 5: 'Обратная связь'};
- footerMenu2.push(footerMenu_about); footerMenu2.push(footerMenu_catalog); footerMenu2.push(footerMenu_contacts);

- var footerLinksApp         = {0:{'class': 'appstore', 'text': 'AppStore', 'href': '#'}, 0:{'class': 'googleplay', 'text': 'Google play', 'href': '#'}}
- var footerLinksSoc         = {0:{'class': 'vk', 'text': 'Вконтакте', 'href': '#'}, 0:{'class': 'fb', 'text': 'Facebook', 'href': '#'}, 2:{'class': 'tw', 'text': 'Twitter', 'href': '#'}}
- var topCatalog             = {1:'Мобильные телефоны',2:{'name':'Планшеты', 'current': 'current'},3:'Mp3 плееры', 4: 'Персональные компьютеры', 5: 'Ноутбуки', 6: 'Apple TV', 7: 'Аксуссуары'}
- var leftMenuLvl_1          = ['iPhone', 'iPad', 'iMac',  'MacBook',  'iPod',  'Другое']
- var leftMenuLvl_2          = ['iPhone 4s', 'iPhone 5', 'iPhone 5s с экслюзивным дизайном', 'iPhone 6', 'iPhone 6plus']
- var breadcrumbs            = ['Главная', 'Каталог']

- var catalog           = []
- var catalog_item_1    = {'img': '../img/display.png', 'title': 'Apple Thunderbolt Display 27"'}
- var catalog_item_2    = {'img': '../img/imac.png', 'title': 'Apple iMac 27"'}
- var catalog_item_3    = {'img': '../img/iphone.png', 'title': 'iPhone 5s Gold'}
- var catalog_item_4    = {'img': '../img/ipad.png', 'title': 'iPad Air Wi-Fi + Cellular 128GB - Silver'}
- var catalog_item_5    = {'img': '../img/ipod.png', 'title': 'Apple iPod nano 7G 16 ГБ Blue'}
- var catalog_item_6    = {'img': '../img/router.png', 'title': 'Роутер Wi-Fi Apple AirPort Extreme Base Station'}
- var catalog_item_desc = [{'key': 'Артикул', 'val': '42787825'},{'key': 'Опция', 'val': 'включена'},{'key': 'Цвет', 'val': 'серебристый'},{'key': 'Размер', 'val': '1280*1245*90'},{'key': 'Вес', 'val': '9кг'}]
- catalog.push(catalog_item_1); catalog.push(catalog_item_2);catalog.push(catalog_item_3); catalog.push(catalog_item_4); catalog.push(catalog_item_5); catalog.push(catalog_item_6);

- var pagination    = ['1', '2', '3', '4', '5', 'Все']
- var layouttypes   = ['Сеткой', 'Линиями']
- var phone_code    = "+7921"
- var phone_val     = "3221232"
- var email         = "manager@company.com"

html
    head
        title dz-shop

        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")


        meta(name="description", content="loftschool_homework")
        meta(name="keywords", content="loftschool_homework")
        meta(name="author", content="Gomer Simpson")

        // bower:css
        // endbower

        // bower:js
        // endbower

    body
        .wrapper
            header.header
                .container
                    a.header__in-logo(href="/")
                        img(src="../img/header-logo.png" alt="")
                        | header logo text
                    .header__in-contacts
                        a.header__in-contacts__phone(href="#{phone_code}#{phone_val}")
                            span.header__in-contacts__phone-code= phone_code
                            |#{phone_val}

                        a.header__in-contacts__email(href="#{email}") #{email}

            .content
                .container

                    ul.topcatalog
                        each item, index in topCatalog
                            li.topcatalog__item
                                if(item.current)
                                    a.topcatalog__item-link(href="#", class="#{item.current}")= item.name
                                else
                                    a.topcatalog__item-link(href="#")= item

                    .navline-wp.clearfix
                        if breadcrumbs.length
                            ul.breadcrumbs
                                each item, index in breadcrumbs
                                    li.breadcrumbs__item
                                        if index == breadcrumbs.length-1
                                            span.breadcrumbs__item-last= item
                                        else
                                            a.breadcrumbs__item-link(href="")= item

                        if layouttypes.length
                            select.layouttypes
                                each item, index in layouttypes
                                    if index == 0
                                        option.layouttypes__item(selected="selected")= item
                                    else
                                        option.layouttypes__item= item

                        if pagination.length
                            select.pagination
                                each item, index in pagination
                                    if index == 0
                                        option.pagination__item.current= item
                                    else
                                        option.pagination__item= item

                    aside.content__left
                        if leftMenuLvl_1.length
                            ul.leftmenu
                                each item_1, index in leftMenuLvl_1
                                    li.leftmenu__item
                                        a.leftmenu__item-link(href="#")=item_1

                                        if index == 0
                                            if leftMenuLvl_2.length
                                                ul.leftmenu
                                                    each item_2, index in leftMenuLvl_2
                                                        li.leftmenu__item
                                                            a.leftmenu__item-link(href="#")=item_2

                    .content__right
                        if catalog.length
                            .catalog
                                each item, index in catalog
                                    .catalog__item
                                        .catalog__item-img-wp
                                            img.catalog__item-img(src="#{item.src}" alt="")
                                        a.catalog__item-link(href="#")=item.title

                                        ul.catalog__itemprops
                                            each prop, p_index in catalog_item_desc
                                                li.catalog__itemprops-item
                                                    span.catalog__itemprops-item-key #{prop.key}:
                                                    if p_index == catalog_item_desc.length-1
                                                        span.catalog__itemprops-item-val #{prop.val} #{p_index} #{catalog_item_desc.length}
                                                    else
                                                        span.catalog__itemprops-item-val #{prop.val}, #{p_index} #{catalog_item_desc.length}

            footer.footer
                .container
                    a.footer__logo(href="link")
                        img(src="../img/footer-logo.png" alt="")
                        | footer logo text

                    .footer__menu
                        each menulist in footerMenu2
                            ul.footer_menu__list
                                each menuitem, i in menulist
                                    li.footer__menu__item
                                        if(i == 1)
                                            span.footer__menu__item-title= menuitem
                                        else
                                            a.footer__menu__item-link(href="#")= menuitem
                    .footer__links
                        ul.footer__links__app-stores
                            each item in footerLinksApp
                                li.footer__links__app-stores__item
                                    a.footer__links__app-stores__item-link(href="#{item.href}" class="#{item.class}")=item.text
                        ul.footer__links__soc
                            each item in footerLinksSoc
                                li.footer__links__soc__item
                                    a.footer__links__soc__item-link(href="#{item.href}" class="#{item.class}")=item.text


